        <!-- type="push"  -->
<ion-menu [content]="menuContent"  side="left"  persistent="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Principal
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <ion-list>

        <button ion-item *ngFor="let p of pages"  (click)="openPage(p)"  >
          <ion-icon name="{{p.icon}}"></ion-icon>
          {{ p.nome }}
        </button>

      </ion-list>
  </ion-content>

</ion-menu>

<ion-menu [content]="menuContent" side="right" persistent="true"
          (ionOpen)="abriuMenu()" >
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Menu Secundário
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <ion-list>

        <button ion-item *ngFor="let p of pages"  (click)="openPage(p)"  >
          <ion-icon name="{{p.icon}}"></ion-icon>
          xxx{{ p.nome }}
        </button>

      </ion-list>
  </ion-content>

</ion-menu>

<ion-nav #menuContent [root]="rootPage"></ion-nav>
